{{- define "main" -}}
  <div class="single-header">
    {{- partial "components/breadcrumbs.html" . -}}
    <h1>{{- partial "title.html" . -}}</h1>
    {{/*  No date for projects  */}}
    {{/*  <span class="dim">  •  </span>   */}}
    {{/*  <span class="dim">{{- .WordCount }} {{ i18n "details_words" -}}</span>   */}}
    {{/*  <span class="dim">({{- div (len .RawContent) 1096 }} - {{ div (len .RawContent) 860 }} {{ i18n "details_read_time" -}})</span>  */}}
    {{- partial "components/tags.html" . -}}
  </div>
  <section class="page-section">
    {{/*  for OG Cover Image  */}}
    {{/*  {{ if .Params.image }}
      <div class="post-cover">
        <img src="{{ .Params.image }}" alt="{{ .Title }} cover image">
      </div>
    {{ end }}  */}}
    {{- .Content -}}
  </section>
{{- end -}}

{{- define "side" -}}
  <aside id="side-pane" class="{{- cond site.Params.lightning.side.single.sidePaneSticky "side-sticky" "" -}}">
    {{- partial "side/project.html" . -}}
  </aside>
{{- end -}}
