<form onsubmit="searchBarSubmit(event)">
  <div class="search-bar">
    {{- partial "svg/search.svg" -}}
    <input id="searchInput" aria-label="search-bar" name="q" type="text" placeholder="{{- i18n " search_placeholder" -}}" />
  </div>
</form>

{{- $searchURL := "/search/" | relURL -}}
{{- with site.GetPage "/search" -}}
  {{- $searchURL = .RelPermalink -}}
{{- end -}}
<script>
  function searchBarSubmit(event) {
    event.preventDefault();
    const value = event.target.elements['q'] ? event.target.elements['q'].value : (document.getElementById('searchInput')?.value || '');
    const relativeUrl = `{{- $searchURL -}}?q=${encodeURIComponent(value)}`;
    window.location.href = relativeUrl;
  }
</script>