body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  width: clamp(300px, 90%, 900px);
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}
p{
  text-align:start ;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}

kbd {
  display: inline-block;
  padding: 2px 6px;
  margin: 0 2px;
  font-size: 0.9em;
  line-height: 1.1;
  font-family: monospace;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  color: var(--code-text-color);
  background: var(--code-background-color);
  box-shadow: 0 1.5px 0px var(--primary-color);
}

code {
  padding: 2px 6px;
  margin: 0px 2px;
  font-size: 0.9em;
  line-height: 1;
  font-family: 'JetBrains Mono', monospace;
  border-radius: 1px;
  color: var(--code-text-color);
  background-color: var(--code-background-color);
  line-height: 1.2; 
}
