<details class="comments-box" >
    <summary aria-label="Toggle for viewing or hiding comments">
        <div class="comments-toggle">
            <i class="fa-regular fa-message"></i>
        <div id="legend-comments" class="legend">
            <span class="closed">{{ i18n "view_comments" }}</span>
            <span class="open">{{ i18n "hide_comments" }}</span>
        </div>
        </div>
    </summary>
    <div class="giscus-comments">
        <script 
            src="https://giscus.app/client.js" 
            data-repo="ThunderE75/thundere75.github.io" 
            data-repo-id="R_kgDOP8wFuw"
            data-category="General" 
            data-category-id="DIC_kwDOP8wFu84C0rE7" 
            data-mapping="og:title" 
            data-strict="0"
            data-reactions-enabled="1" 
            data-emit-metadata="0" 
            data-input-position="top" 
            data-theme="preferred_color_scheme"
            data-lang="en" 
            data-loading="lazy" 
            crossorigin="anonymous" async>
        </script>
    </div>
</details>