{{- $socials := .Params.social -}}
{{- if not $socials -}}
{{- $socialsPage := where site.Pages "Type" "socials" | first 1 -}}
{{- with $socialsPage -}}
{{- $socials = (index . 0).Params.social -}}
{{- end -}}
{{- end -}}
{{- if not $socials -}}
{{- $socials = site.Params.social -}}
{{- end -}}
{{- if $socials -}}
<nav aria-label="Social links" class="socials-links" style="margin-top:0.8rem; ">
  <a class="jumpto-button" target="_blank" href="../../Resume Tech - Navneet Prakash Dubey.pdf">Resume ➔</a>
  <div class="socials-links-icons">
    {{- range first 3 (sort $socials "weight") -}}
    <a href="{{ .url }}" rel="me noopener noreferrer" target="_blank" aria-label="{{ .name }}" title="{{ .name }}"
      class="socials-link fancy-icon" style="font-size: 0.6rem;">
      {{- with .icon -}}<i class="{{ . }}" aria-hidden="true"></i>{{- end -}}</a>
      {{- end -}}
    </div>
</nav>
{{- end -}}