{{- define "main" -}}
<div class="socials-main">

    <section class="page-section socials-page">
        <div>
            <img src="/images/avatar.jpg" alt="Avatar" class="socials-avatar" loading="lazy" />
        </div>
    {{- with .Params.author -}}
    <div class="socials-author">
        <div class="socials-author-name">{{ . }}</div>
        {{- with $.Params.alias -}}
        <div class="socials-alias">{{ . }}</div>
        {{- end -}}
    </div>
    {{- end -}}
    
    {{- with .Params.social -}}
    <nav aria-label="Social links" class="socials-links">
        {{- range sort . "weight" -}}
        <a href="{{ .url }}" rel="me noopener noreferrer" target="_blank" aria-label="{{ .name }}" title="{{ .name }}"
        class="socials-link fancy-icon">
            {{- with .icon -}}<i class="{{ . }}" aria-hidden="true"></i>{{- end -}}
        </a>
        {{- end -}}
    </nav>
    {{- end -}}
</section>
</div>
{{- end -}}

{{- define "side" -}}{{- end -}}