{{- define "main" -}}
  <div class="single-header">
    {{- partial "components/breadcrumbs.html" . -}}
    <h1>{{- partial "title.html" . -}}</h1>
    {{- partial "components/tags.html" . -}}
  </div>
  <section class="page-section">
    {{- .Content -}}
  </section>
  <div class="side-content-mobile">
    {{- partial "side/project.html" . -}}
  </div>
{{- end -}}

{{- define "side" -}}
  <aside id="side-pane" class="{{- cond site.Params.lightning.side.single.sidePaneSticky "side-sticky" "" -}}">
    {{- partial "side/project.html" . -}}
  </aside>
{{- end -}}
